<h1><%=  @cocktail.name %></h1>
<% if @cocktail.ingredients.name.nil? %>
  <p> no ingredients set</p>
<% else  %>
  <p> <%= @cocktail.ingredients.name %></p>
<%end %>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
